// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$font: 'Montserrat', sans-serif;

// Colors
$white : #F1F1F1;
$black : #000000;
$brown : #57210B;
$green : #006837;
$yellow : #C1951F;

$blue : #47bbed;

// Scrollbar
::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: $green;
    &:hover{
        background-color: darken($green, 5%);
    }
}


// Mise en page
*{
    font-family: $font;
}

body{
    margin: 0;
    background-color: $white;
    overflow-x: hidden;
}

.logo{
    height:350px;
}

// Placeholders
%button{
    color: $white;
    background-color: $green;
    border: none;
    padding: 7px 20px;
    border-radius: 10px;
    font-family: $font;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.25s;

    span{
        display: inline-block;
        position: relative;
        transition: 0.25s;
        &:after{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: -5.5px;
            right: -20px;
            transition: 0.25s;
        }
    }

    &:hover span{
        padding-right: 25px;
        &:after{
            opacity: 1;
            right: 0;
        }
    }
}

@keyframes planetRotation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 1100px){
    p{
        font-size: 12px;
    }
    h2{
        font-size: 20px!important;
    }
}