// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$font: 'Montserrat', sans-serif;

// Colors
$white : #F1F1F1;
$black : #000000;
$brown : #57210B;
$green : #006837;
$yellow : #C1951F;

$greenDarker : darken($green, 10%);
$greenLighter : lighten($green, 10%);
$greenLight : lighten($green, 20%);

$blue : #47bbed;


// Scrollbar
::-webkit-scrollbar {
    width: 10px;
    background-color: $white;
}

::-webkit-scrollbar-thumb {
    background-color: $green;

    &:hover {
        background-color: darken($green, 5%);
    }
}


* {
    font-family: $font;
}

body {
    margin: 0;
    background-color: $greenDarker;
    overflow-x: hidden;
}

.logo {
    height: 350px;
}

// Placeholders
%button {
    color: $white;
    background-color: $green;
    border: none;
    padding: 8px 25px;
    border-radius: 10px;
    font-family: $font;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

    span {
        display: inline-block;
        position: relative;
        transition: 0.25s;

        &:after {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: -7.8px;
            right: -20px;
            transition: 0.25s;
        }
    }

    &:hover span {
        padding-right: 25px;

        &:after {
            opacity: 1;
            right: 0;
        }
    }
}

.feuille1,
.feuille2 {
    position: absolute;
    width: 50px;
    height: 50px;
}

.feuille1 {
    top: -20px;
    left: -20px;
}

.feuille2 {
    bottom: -20px;
    right: -20px;
}

h2 {
    font-size: 30px;
    margin-top: 0;
    color: $white;
    font-weight: 800;
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 500;
    margin: 12px;
}

strong {
    color: $brown;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

$classes: (
    greenDarker: #004e00,
    green : #006900,
    greenLighter: #007300,
    greenLight: #008700
);

@each $class, $color in $classes {
    .#{$class} {
        color: $color !important;
    }
}


@media screen and (max-width: 1100px) {
    p {
        font-size: 12px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    .feuille1,
    .feuille2 {
        height: 40px;
        width: 40px;
    }
}