// ---------- Presentation.vue ---------- //

.hero-header {
    height: 100vh;
    width: 100vw;
    @include flexOriginel(column, center, center);

    img {
        width: 40%;
    }

    p {
        margin: 10px;
        font-size: 20px;
        font-weight: 700;
        color: $white
    }

    .hero-header_button {
        margin-top: 20px;
    }

    a {
        margin-top: 50px;

        svg {
            height: 40px;
            animation: arrowAnimation 1s ease-in-out infinite;
        }
    }
}

.presentation {
    position: relative;
    @include flexOriginel(row, center, center);
    gap: 7rem;
    min-height: 100vh;
    width: 100vw;

    .presentation__texte {
        width: 42%;

        .presentation-texte__p {
            position: relative;
            font-size: 14px;
            padding: 20px 30px;
            border-radius: 10px;
            background-color: $white;
            color: $black;
            font-weight: 500;
            line-height: 130%;
            box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.31);
        }
    }

    .presentation__img {
        img {
            width: 400px;
        }
    }
}


.ecologie {
    @include flexOriginel(row, center, center);
    gap: 9rem;
    min-height: 100vh;
    width: 100vw;

    .ecologie__axes {
        width: 44%;

        .ecologie-texte__p {
            position: relative;
            font-size: 0.95em;
            padding: 20px 30px;
            border-radius: 10px;
            background-color: $white;
            color: $black;
            font-weight: 500;
            line-height: 130%;
            box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.31);
        }
    }

    .ecologie__planet {
        display: flex;
        align-items: center;
        height: 420px;
        width: 420px;
        background-color: $blue;
        border-radius: 50%;
        border: 3px solid $white;
        overflow: hidden;

        img {
            height: 105%;
            animation: rotationPlanet 30s linear infinite;
        }
    }
}

.levels {
    @include flexOriginel(row, center, center);
    min-height: 100vh;
    width: 100vw;
    gap: 9rem;

    .levels__texte {
        width: 45%;

        .levels-texte__p {
            position: relative;
            font-size: 0.95em;
            padding: 20px 30px;
            border-radius: 10px;
            background-color: $white;
            color: $black;
            font-weight: 500;
            line-height: 130%;
            box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.31);
        }
    }

    .emojis {
        width: 370px;
        animation: balancement 3s infinite;
    }
}

.button {
    @extend %button;
}

.presentation__button {
    text-align: center;
    margin-bottom: 15vh;
}



// ---------- Questionnaire ---------- //

.questionnaire {
    min-height: 100vh;
    @include flexOriginel(column, center, center);
    width: 100vw;
}

.progress-bar {
    width: 70%;
    height: 30px;
    background-color: #ccc;
    position: relative;
    margin-bottom: 40px;
    border-radius: 20px;

    .progress-bar__fill {
        height: 100%;
        border-radius: 20px;
        background-color: $green;
        transition: width 0.5s ease-in-out;

        .progress-bar__percentage {
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translate(-50%, -50%);
            font-size: 15px;
            font-weight: bold;
            color: $white;
        }
    }
}

.text-black {
    color: $black !important;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.question {
    font-size: 28px;
    font-weight: 700;
    height: 110px;
    color: $white;
}

.propositions {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;

    li {
        list-style: none;
    }

    input {
        z-index: 12345;
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 115px;
        cursor: pointer;

        &:hover+label {
            border: 3px solid $yellow;
        }

        &:checked+label {
            font-weight: 700;
            border: 3px solid $white;
        }

        &[type="radio"]:checked+label .feuille1 {
            display: block;
        }
    }

    label {
        position: relative;
        @include flexOriginel(row, center, center);
        background-color: $white;
        border: 3px $white solid;
        width: 100%;
        height: 100px;
        border-radius: 30px;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;

        .feuille1 {
            display: none;
            height: 45px;
            width: 45px;
            top: -15px;
            left: -10px;
        }

        .answers {
            width: 90%;
            text-align: center;
        }
    }
}

.buttonQuestionnaire {
    width: max-content;
    margin: 0 auto;
    margin-top: 20px;
}

// ---------- RESULTS ---------- //

.results {
    @include flexOriginel(row, center, center);
    min-height: calc(100vh - 120px);
    margin-top: 60px;
    gap: 120px;

    .results__level {
        @include flexOriginel(column, center, center);
        color: $white;

        p {
            font-size: 15px;
        }

        .results-level__span {
            background-color: $white;
            padding: 8px 30px;
            font-size: 40px;
            font-weight: 700;
            border-radius: 20px;
            color: $green;
            box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.31);
        }
    }

    .results__advices {
        @include flexOriginel(column, center, center);
        gap: 20px;
        width: 40%;

        .results-advices__texte {
            position: relative;
            background-color: $white;
            padding: 15px 25px;
            border-radius: 20px;
            box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.31);

            p {
                font-size: 13px !important;
                margin: 5px !important;
            }

            ul li {
                list-style: disc;
                font-weight: 500;
                font-size: 13px !important;
                margin: 7px 0 7px 20px;
            }
        }

        .results__button {
            @include flexOriginel(row, center, center);
            gap: 20px;
        }
    }
}


// ---------- MENTIONS LEGALES ---------- //

.mentions {
    margin: 100px 0;
    @include flexOriginel(column, center, center);
    gap: 20px;
    color: $white;

    h2 {
        font-size: 35px;
        font-weight: 800;
    }

    h3 {
        text-transform: uppercase;
        text-align: center
    }

    .mentions__bloc {
        @include flexOriginel(column, center, center);
        width: 60%;

        >.mentions-bloc__texte {
            position: relative;
            padding: 20px;
            background-color: $white;
            border-radius: 20px;
            box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.31);
            color: $black;
            font-weight: 500;
            line-height: 130%;
            width: 100%;

            li {
                font-size: 14px;
                font-weight: 500;
                margin: 12px;
                list-style: circle;
            }
        }
    }
}

// ---------- Medias Queries ---------- //

@media screen and (min-width:1100px) and (max-width: 1270px) {

    .presentation,
    .ecologie {
        gap: 3rem;
    }
}

@media screen and (max-width: 1100px) {

    .presentation,
    .ecologie,
    .levels {
        min-height: 70vh;
        padding: 0;
        margin: 50px 0;

        .presentation__img,
        .ecologie__planet,
        .levels__img {
            display: none;
        }

        .presentation__texte,
        .ecologie__axes,
        .levels__texte {
            width: 80%;
            padding: 10px 20px;
        }
    }

    .mentions {
        h2 {
            font-size: 30px !important;
        }

        h3 {
            font-size: 18px;
        }

        .mentions__bloc {
            width: 80%;
        }
    }

    .results {
        @include flexOriginel(column, center, center);
        height: auto;
        margin: 100px 0;

        .results-level__span {
            font-size: 30px !important;
        }

        .results__advices {
            width: 80%;

            .results__button {
                flex-direction: none;
                flex-wrap: wrap;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .hero-header {
        img {
            width: 75%;
        }

        p {
            text-align: center;
            font-size: 15px;
        }
    }

    .questionnaire {
        height: auto;
        margin-top: 60px;

        .progress-bar {
            width: 80%;
        }

        .propositions {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);

            label {
                font-size: 14px;
                height: 80px;
            }
        }

        .question {
            height: auto;
            font-size: 22px;
        }
    }
}

@media screen and (max-width: 600px) {

    .presentation,
    .ecologie {
        min-height: 100vh;
    }

}