.header{
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100vw;
    text-align: center;
    background-color: $white;
    padding: 10px 0;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.31);
    img{
        width: 200px;
    }
}

// --------------------------------------

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-size: 14px;
    color: $white;
    background-color: $green;
    font-weight: 700;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.31);
    width: 100vw;
    a{
        margin: 0 5px;
        color: $white;
        text-decoration: dashed;
        &:hover{
            text-decoration: underline;
            text-decoration-thickness: 1.5px;
            text-underline-offset: 5px;
        }
    }
}

@media screen and (max-width: 850px){
    .header{
        img{
            width: 175px;
        }
    }
    .footer{
        flex-direction: column;
        .footer__copy{
            width: 75%;
            text-align: center;
        }
        .footer__dev{
            @include flexOriginel(row, center, center);
            flex-wrap: wrap;
            gap: 5px;
        }
    }
}